<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MyConnection" connectionString="Data Source=DESKTOP-OMVNCTT\SQLEXP2016;Database=Sample;uid=sa;password=India@123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>